<a href="https://colab.research.google.com/github/EdineyBlasques/ListadeExercicios/blob/main/Lista_de_Exercicio_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##41.LEIA UM NÚMERO INTEIRO E IMPRIMA ATÉ O VALOR 0.

In [ ]:
#código 1

lista=[]
while True:
  try:
    numero=int(input('Digite um numero: \n'))
    break
  except ValueError:
    print('Por favor digite um número inteiro\n')

if numero<0:
  for numeros in range(numero,1):
    lista.append(numeros)
else:
  for numeros in range(0,numero+1):
    lista.append(numeros)
    
if numero<0:
  lista.sort(reverse=False)
else:
  lista.sort(reverse=True)
print('\n')
print(lista)

Digite um numero:
20


[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#Código 2
numDigitado=int(input('Digite um número: '))
for numero in range(0,numDigitado+1):
  contagem=numDigitado-numero
  print(contagem)

Digite um número: -20

##42.FAÇA UM PROGRAMA QUE IMPRIME A QUANTIDADE DE NÚMEROS PARES DE 100 ATÉ 200, INCLUINDO- OS.

In [ ]:
pares=[]
impares=[]
for par in range(100,201):
  if par%2==0:
    pares.append(par)
  else:
    impares.append(par)
print(f'A quantidade de números pares entre 100 a 200 é {len(pares)}.')

A quantidade de números pares entre 100 a 200 é 51.

##43.FAÇA UM PROGRAMA PARA CONTAR A QUANTIDADE DE NÚMEROS PARES ENTRE DOIS NÚMEROS QUAISQUER

In [ ]:
while True:
  try:
    numero_1=int(input('Digite o primeiro número: '))
    numero_2=int(input('Digite o segundo número: '))
    break
  except ValueError:
    print('ERROR: Digite um número inteiro!')
numerospares=[]
numerosimpares=[]
for par in range(numero_1,numero_2+1):
  if par%2==0:
    numerospares.append(par)
  else:
    numerosimpares.append(par)

print(f'A quantidade de números pares entre {numero_1} e {numero_2} é {len(numerospares)}.')
print(f'A seguir os números pares: {numerospares}.')

Digite o primeiro número: 10
Digite o segundo número: 20
A quantidade de números pares entre 10 e 20 é 6.
[10, 12, 14, 16, 18, 20]

In [ ]:
while True:
  try:
    numero_1=int(input('Digite o primeiro número: '))
    numero_2=int(input('Digite o segundo número: '))
    break
  except ValueError:
    print('ERROR: Digite um número inteiro!')
numerospares=[]
numerosimpares=[]
if numero_1<numero_2:
  for par in range(numero_1,numero_2+1):
    if par%2==0:
      numerospares.append(par)
    else:
      numerosimpares.append(par)
elif numero_1>numero_2:
  numeromenor=numero_2
  numeromaior=numero_1
  for par in range(numeromenor,numeromaior+1):
    if par%2==0:
      numerospares.append(par)
    else:
      numerosimpares.append(par)
elif numero_1==numero_2:
  print('Números iguais.')
print(f'Total de números pares: {len(numerospares)}')
print(numerospares)

Digite o primeiro número: 10
Digite o segundo número: 20
Total de números pares: 6
[10, 12, 14, 16, 18, 20]

##44.FAÇA UM PROGRAMA QUE IMPRIME A SOMA DE TODOS OS NÚMEROS PARES ENTRE DOIS NÚMEROS QUAISQUER, INCLUINDO- OS.

In [ ]:
primeiro_numero=int(input('Digite o primeiro número: '))
segundo_numero= int(input('Digite o segundo número: '))
lista_numero=[]
for numeros in range(primeiro_numero,segundo_numero+1):
  lista_numero.append(numeros)
soma=sum(lista_numero)
print(f'\nA soma de todos os números entre {primeiro_numero} e {segundo_numero} é {soma}.')

Digite o primeiro número: 10
Digite o segundo número: 30

A soma de todos os números entre 10 e 30 é 420.

##45.FAÇA UM PROGRAMA QUE CALCULE O FATORIAL DE UM NÚMERO.

In [ ]:
numero=int(input('Digite o valor: '))
numero_inicial=numero
fatorial=1
while numero>0:
  fatorial=fatorial*numero
  numero=numero-1

print(f'Fatorial do numero {numero_inicial} é {fatorial}')

Digite o valor: 5
Fatorial do numero 5 é 120

##46.FAÇA UM PROGRAMA QUE DETERMINE O MOSTRE OS CINCO PRIMEIROS MÚLTIPLOS DE  3, CONSIDERANDO NÚMEROS MAIORES QUE 0.

In [ ]:
numero_multiplo=3
quantidade=1
multiplos=[]
for num in range(1,30):
  if num%3==0:
    multiplos.append(num)
print(f'Os três primeiros números multiplos de {numero_multiplo} é {multiplos[:3]}')

Os três primeiros números multiplos de 3 é [3, 6, 9]

##47.FAÇA UM ALGORITMO UTILIZANDO O COMANDO WHILE QUE MOSTRA UMA CONTAGEM REGRESSIVA NA TELA, INICIANDO EM 10 E TERMINANDO EM  0 . MOSTRAR UMA MENSAGEM “ FIM!”  APÓS A CONTAGEM.

In [ ]:
from time import sleep
contagem=10
print('Começando a contagem:')
while contagem>-1:
  print(contagem)
  sleep(0.5)
  contagem=contagem-1
  if contagem==-1:    
    print("Fim!")

Começando a contagem:
10
9
8
7
6
5
4
3
2
1
0
Fim!

##48.	 FAÇA UM PROGRAMA QUE PEÇA AO USUÁRIO PARA DIGITAR 10 VALORES E SOME- OS.

In [ ]:
numeros_soma=[]
while len(numeros_soma)<10:
  x=int(input('Digite um valor: '))
  numeros_soma.append(x)
print(f'A soma dos numeros digitados é {sum(numeros_soma)}.')

Digite um valor: 10
Digite um valor: 20
Digite um valor: 30
Digite um valor: 40
Digite um valor: 50
Digite um valor: 60
Digite um valor: 70
Digite um valor: 80
Digite um valor: 90
Digite um valor: 100
A soma dos numeros digitados é 550.

##49.FAÇA UM PROGRAMA QUE LEIA 10 INTEIROS E IMPRIMA SUA MÉDIA.

In [ ]:
numeros_inteiros=[]
while len(numeros_inteiros)<10:
  numero=int(input('Digite um número: '))
  numeros_inteiros.append(numero)

soma=sum(numeros_inteiros)
divisor=len(numeros_inteiros)

print(f'\nA média dos números digitados é {soma/divisor}.')

Digite um número: 10
Digite um número: 20
Digite um número: 30
Digite um número: 40
Digite um número: 50
Digite um número: 60
Digite um número: 70
Digite um número: 80
Digite um número: 90
Digite um número: 100

A média dos números digitados é 55.0.

##50.	FAÇA UM PROGRAMA QUE LEIA 10 INTEIROS POSITIVOS, IGNORANDO NAO POSITIVOS, E IMPRIMA SUA MÉDIA.

In [ ]:
numeroPositivo=[]
while len(numeroPositivo)<10:
  numeroCaprturado=int(input('Digite o valor: '))
  if numeroCaprturado>0:
    numeroPositivo.append(numeroCaprturado)
  else:
    print('Numero invalido')

SomaNumero=sum(numeroPositivo)
totalDigitado=len(numeroPositivo)

print(f'A média dos numeros digitador, somente os positivos, é {SomaNumero/totalDigitado}.')

##51.	FAÇA UM PROGRAMA QUE LEIA UM NÚMERO INTEIRO N E DEPOIS IMPRIMA OS N PRIMEIROS NUMEROS NATURAIS ÍMPARES.

In [ ]:
numeroTamanho=int(input("Digite a quantidade de numero que deseja vrificar de números impares: "))
imparesnum=[]
paress=[]
for i in range(1,numeroTamanho*2):
  if i%2==1:
    imparesnum.append(i)
  else:
    paress.append(i)

imparesnum

Digite a quantidade de numero que deseja vrificar de números impares10

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

##52.	FAÇA UM PROGRAMA QUE CALCULE E MOSTRE A SOMA DOS 50 PRIMEIROS NUMEROS PARES.

In [ ]:
numeroTamanho=50
imparesnum=[]
paress=[]
contagem=1
for i in range(1,(numeroTamanho*2)+1):
  if i%2==1:
    imparesnum.append(i)

  else:
    paress.append(i)

print(paress)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

##60.	FAÇA UM PROGRAMA QUE IMPRIME A SOMA DE TODOS OS NÚMEROS ÍMPARES ENTRE DOIS NÚMEROS QUAISQUER, INCLUINDO- OS.

In [ ]:
primeiro_numero=5
segundo_numero=24
lista_impares=[]
for num in range(primeiro_numero,segundo_numero+1,2):
  lista_impares.append(num)

sum(lista_impares)

140

In [ ]:
primeiro_numero=int(input('Digite o primeiro numero: '))
segundo_numero=int(input('Digite o segundo numero: '))
lista_impares=[]
for num in range(primeiro_numero,segundo_numero+1):
  if num %2 !=0:
    lista_impares.append(num)

sum(lista_impares)

Digite o primeiro numero: 4
Digite o segundo numero: 82

1677

In [ ]:
lista_teste=[]
numero1=int(input('Digite o primeiro numero: '))
numero2=int(input('Digite o segundo numero: '))
for num in range(numero1,numero2+1):
  if num%2 !=0 or num/2 ==1:
    if num%3 !=0 or num/3 ==1:
      if num%5 !=0 or num/5 ==1:
        if num%7 !=0 or num/7 ==1:
          lista_teste.append(num)
            
            
print(lista_teste)

Digite o primeiro numero: 1
Digite o segundo numero: 3
[1, 2, 3]

##61.	ESCREVA UM PROGRAMA PARA SOMAR TODOS OS I TENS EM UMA LISTA.

In [ ]:
tamanho=10
paress=[]
contagem=1
for i in range(1,(tamanho)):
  if i%2==1:
    imparesnum.append(i)

  else:
    paress.append(i)
print(paress) 
sum(paress)

[2, 4, 6, 8]

20

##62.	ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS I TENS DE UMA L ISTA

In [ ]:
lista1=[1,2,3,4,5,6,7,8,9,10]
x=len(lista1)
resultado=1
for i in range(0,x):
  resultado=lista1[i]*resultado
  print(resultado)

1
2
6
24
120
720
5040
40320
362880
3628800

##63.	ESCREVA UM PROGRAMA PARA OBTER O MAIOR NÚMERO DE UMA L ISTA.

In [ ]:
lista2=[1,2,3,4,5,6,7,8,9,20]
maximo=max(lista2)
print(f'O maior número é {maximo}.')

O maior número é 20.

##64.	ESCREVA UM PROGRAMA PARA OBTER O MENOR NÚMERO DE UMA L ISTA.

In [ ]:
lista2=[1,2,3,4,5,6,7,8,9,20]
minimo=min(lista2)
print(f'O maior número é {minimo}.')

O maior número é 1.

##65.	ESCREVA UM PROGRAMA PARA REMOVER DUPLICATAS DE UMA L ISTA

In [ ]:
lista3=[1,1,2,2,3,4,5,6,7,7,1,8,9,10,20,100,3]
list(set(lista3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 20]

In [ ]:
lista3=[1,1,2,2,3,4,5,6,7,7,1,8,9,10,20,100,3]
lista_nova=[]

for i in lista3:
 if i not in lista_nova:
   lista_nova.append(i)

print(lista_nova)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 100]

##66.	ESCREVA UM PROGRAMA PARA COPIAR UMA L ISTA PARA OUTRA.

In [ ]:
lista2=[1,2,3,4,5,6,7,8,9,20]
lista4=lista2.copy()
print(lista4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

##67.	ESCREVA UM PROGRAMA QUE RECEBA DUAS LISTAS E RETORNE TRUE SE ELAS TIVEREM PELO MENOS UM ELEMENTO EM COMUM.

In [ ]:
lista5=[1,2,3,4,5,6,7,8,9,10]
lista6=[11,10,20]
condicao=False

for i in lista5:
  if i in lista6:
    condicao=True
  else:
    condicao=False
print(condicao)

True

##68.	ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA.

In [ ]:
listateste=["ediney","Blasques"]
outro=tuple(listateste)
print(outro)

('ediney', 'Blasques')

In [ ]:
#Somente com numeros inteiros

quant=int(input("digite a quantidade de numeros que deseja informar: "))
tupla=()
for i in range(quant):
  dados=int(input("Digite o número: "))
  tupla=tupla+tuple([dados])

print(tupla)

digite a quantidade de numeros que deseja informar: 3
Digite o número: 20
Digite o número: 40
Digite o número: 60
(20, 40, 60)

In [ ]:
#Somente com string

quant=int(input("digite a quantidade de numeros que deseja informar: "))
tupla=()
for i in range(quant):
  dados=input("Digite o número: ")
  tupla=tupla+tuple([dados])

print(tupla)

digite a quantidade de numeros que deseja informar: 3
Digite o número: ediney
Digite o número: blasques
Digite o número: eldo
('ediney', 'blasques', 'eldo')


##69.	ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM DIFERENTES T IPOS DE DADOS.

In [ ]:
string=input("Digite um texto: ")
inteiro=int(input("digite um número inteiro: "))
decimal=float(input("Digite um decimal: "))
tupla_varios_dados=()
for i in range(0,3):
  tupla_varios_dados=tuple([string,inteiro,decimal])

print(tupla_varios_dados)

Digite um texto: ediney
digite um número inteiro: 19
Digite um decimal: 2.6
('ediney', 19, 2.6)

##70.	ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM NÚMEROS E IMPRIMIR UM I TEM.

In [ ]:
tupla_numeros=()
for numero in range(5):
  Dadoinsert=int(input("Digite um número: "))
  tupla_numeros=tupla_numeros+ tuple([Dadoinsert])
print("A tupla possui 5 números, qual o posição do tupla que deseja visualizar?")
x=int(input())
print("\n")
x=x-1
if x<5:
  print(f'O numero da posição escolhida é {tupla_numeros[x]}.')
elif x>5:
  print("Digite número menor que 5")

Digite um número: 10
Digite um número: 20
Digite um número: 30
Digite um número: 40
Digite um número: 50
A tupla possui 5 números, qual o posição do tupla que deseja visualizar?
3


O numero da posição escolhida é 30.

##71.	ESCREVA UM PROGRAMA PARA ADICIONAR UM I TEM EM UMA TUPLA.

In [ ]:
dadosEmTupla=("Maçã","Pêra","Morgote","Uva")
novo_dado=input("Digite uma fruta que deseja inserir na tupla: ")
dadosEmTupla=dadosEmTupla + tuple([novo_dado])
print(dadosEmTupla)

Digite uma fruta que deseja inserir na tupla: Laranja
('Maçã', 'Pêra', 'Morgote', 'Uva', 'Laranja')

##72.	ESCREVA UM PROGRAMA PARA OBTER O 4 º ELEMENTO E O ÚLTIMO DE UMA TUPLA.

In [ ]:
frutas=("Maçã","Pêra","Morgote","Uva","Lichia","Laranja","Melão","Manga")
print(f'O 4º elemento da tupla é {frutas[3]}')
print(f'E o ultimo elemento da tupla é {frutas[len(frutas)-1]}')

O 4º elemento da tupla é: Uva
E o ultimo elemento da tupla é Manga

##73.	ESCREVA UM PROGRAMA PARA ENCONTRAR OS I TENS REPETIDOS DE UMA TUPLA.

In [ ]:
frutas=("Maçã","Pêra","Morgote","Uva","Lichia","Laranja","Melão","Manga","Maçã","Uva")
repetidos=()
somente1=()
for i in frutas:
  if i not in somente1:
    somente1=somente1+tuple([i])
  else:
    repetidos=repetidos+tuple([i])


repetidos

('Maçã', 'Uva')

##74.	ESCREVA UM PROGRAMA PARA CONVERTER UMA L ISTA EM UMA TUPLA.

In [ ]:
frutas_lista=['Maçã',"Pêra","Uva","Laranja","Morgote"]
frutas_tupla=tuple(frutas_lista)

frutas_tupla

('Maçã', 'Pêra', 'Uva', 'Laranja', 'Morgote')

##75.	ESCREVA UM PROGRAMA PARA ADICIONAR UMA CHAVE A UM DICIONÁRIO.

In [ ]:
dados={'Nome':"Ediney","Cidade":"Paiçandu","Estado":"Paraná"}
dados["Profissão"]="Auxiliar de Escritório"

dados

{'Nome': 'Ediney',
 'Cidade': 'Paiçandu',
 'Estado': 'Paraná',
 'Profissão': 'Auxiliar de Escritório'}

In [ ]:
dados={'Nome':"Ediney","Cidade":"Paiçandu","Estado":"Paraná"}
dados.update({"Profissão":"Auxiliar de escrotório","Empresa":"Dall Frutas"})
dados

{'Nome': 'Ediney',
 'Cidade': 'Paiçandu',
 'Estado': 'Paraná',
 'Profissão': 'Auxiliar de escrotório',
 'Empresa': 'Dall Frutas'}

##76.	CRIE DOIS DICIONÁRIOS DIFERENTES E CONCATENE PARA CRIAR UM NOVO.

In [ ]:
dados={'Nome':"Ediney","Cidade":"Paiçandu","Estado":"Paraná"}
dados1={"Fruta":"Morgote","Preço":2.50,"Peso da caixa":"20kg"}
dados_gerais={}
dados_gerais.update(dados)
dados_gerais.update(dados1)

dados_gerais

{'Nome': 'Ediney',
 'Cidade': 'Paiçandu',
 'Estado': 'Paraná',
 'Fruta': 'Morgote',
 'Preço': 2.5,
 'Peso da caixa': '20kg'}

In [ ]:
dados={'Nome':"Ediney","Cidade":"Paiçandu","Estado":"Paraná"}
dados1={"Fruta":"Morgote","Preço":2.50,"Peso da caixa":"20kg"}
juncao=()
juncao={**dados,**dados1}

juncao

{'Nome': 'Ediney',
 'Cidade': 'Paiçandu',
 'Estado': 'Paraná',
 'Fruta': 'Morgote',
 'Preço': 2.5,
 'Peso da caixa': '20kg'}

##77.	ESCREVA UM PROGRAMA PARA VERIFICAR SE UMA DETERMINADA CHAVE JÁ EXISTE EM UM DICIONÁRIO.

In [7]:
dados={'Nome':"Ediney","Cidade":"Paiçandu","Estado":"Paraná"}
dados_para_inserir=input("Digite a chave que deseja verificar: ")
if dados_para_inserir in dados:
   print("Essa chave ja existe.")
else:
  print("Essa chave ainda não existe.")

Digite a chave que deseja verificar: Estado
Essa chave ja existe.

##78.	ESCREVA UM PROGRAMA PARA ITERAR SOBRE DICIONÁRIOS USANDO LOOPS FOR.

In [9]:
dados={'Nome':"Ediney","Cidade":"Paiçandu","Estado":"Paraná"}
for nome, valor in dados.items():
  print(nome,":",valor)

Nome : Ediney
Cidade : Paiçandu
Estado : Paraná

##79.	ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS EM UM DICIONÁRIO.

In [12]:
dicionario={"a":3,"b":6,"c":10,"d":20}
valor_multiplicado=1
for i in dicionario:
  valor_multiplicado=valor_multiplicado*dicionario[i]
  print(valor_multiplicado)

3
18
180
3600

##80.	ESCREVA UM PROGRAMA PARA REMOVER UMA CHAVE DE UM DICIONÁRIO

In [20]:
dicionario={"a":3,"b":6,"c":10,"d":20}
dicionario.pop("b")
dicionario

{'a': 3, 'c': 10, 'd': 20}